
#
# SDKit: GitIgnore
# Developed by SPLIT Designs
#

# Xcode Defaults

.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

#
#

# Additions

.swiftpm/**

#
#
